/* CORES ESCOLARES : AZUL, VERMELHO, LARANJA, VERDE */

body {
    background-color: rgb(85, 202, 241);
}
p {
    font-family: 'GulimChe';
    color: whitesmoke;
    font-size: 30px;
    text-align: justify;
    text-align: center;
}

header {
    border-bottom: solid;
    color:lightskyblue
}

h1 {
    color: greenyellow;
    font-size: 60px;
    font-family: 'Gulim'; 
    text-align: center
}

h2 {
    color: greenyellow;
    font-size: 40px;
    font-family: 'Gulim'; 
    text-align: center
}

