/* CORES ESCOLARES : AZUL, VERMELHO, LARANJA, VERDE */

body {
    background-color: rgb(0, 0, 0);
}
p, ul {
    font-family: 'GulimChe';
    color: rgba(49, 139, 37, 0.863);
    font-size: 30px;
    text-align: justify;
    text-align: center;
}

header {
    border-bottom: solid;
    color:rgb(0, 172, 29)
}

h1 {
    color: rgb(0, 155, 13);
    font-size: 60px;
    font-family: 'Gulim'; 
    text-align: center
}

h2 {
    color: rgb(24, 0, 243);
    font-size: 40px;
    font-family: 'Gulim'; 
    text-align: center
}

marquee {
    
    height:90px;
}